apiVersion: batch/v1
kind: Job
metadata:
  name: warp-job
spec:
  template:
    spec:
      containers:
      - name: warp-job
        env:
          - name: WARP_ACCESS_KEY
            value: "minio"
          - name: WARP_SECRET_KEY
            value: "minio123"
        image: "minio/warp:latest"
        imagePullPolicy: Always
        args: [ "get", "--bucket", "benchmark-bucket", "--warp-client", "warp-{0...3}.warp.default.svc.cluster.local:7761", "--host", "minio-{0...3}.minio.default.svc.cluster.local:9000", "--concurrent", "64", "--obj.size", "32MiB" ]
      restartPolicy: Never
  backoffLimit: 4
