name: Go

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

jobs:
  build:
    name: Test on Go ${{ matrix.go-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: [1.25.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5

      - name: Set up Go ${{ matrix.go-version }} on ${{ matrix.os }}
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
        id: go

      - name: Build on ${{ matrix.os }}
        env:
          GO111MODULE: on
        run: go test -v -race ./...

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.x

      - name: Checkout code
        uses: actions/checkout@v5

      - name: go vet
        run: go vet ./...

      - name: go fmt
        run: diff <(gofmt -d .) <(printf "")

      - name: Lint
        run: |
          go install tool
          $(go env GOPATH)/bin/golangci-lint run --timeout=5m --config ./.golangci.yml
